*{
    margin: 0;
    padding: 0;
}
.Box{
    border: '20px';
    border-color: black;
    overflow: auto;
    background-image: url("https://img1.goodfon.com/wallpaper/nbig/c/5d/colorful-abstract-background-4031.jpg");
    background-size: cover;
}
.FormBox{
    color: white;
    background-color: rgb(255, 151, 86);
}